@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

    <h1>Edytowanie Ogłoszenia</h1>
    <form class="col-md-6">
        <br />
        Id: <input id="Id" disabled type="number" class="form-control" /><br />
        Użytkownik tworzący ogłoszenie: <input id="UserName" disabled type="text" class="form-control" /><br />
        Tytuł: <input id="Title" type="text" class="form-control" /><br /><br />
        Opis: <input id="Description" type="text" class="form-control" /><br />
        Data początkowa: <input id="StartDate" type="date" class="form-control" /><br />
        Data końcowa: <input id="EndDate" type="date" class="form-control" /><br />
        Cena: <input id="Price" type="number" class="form-control" /><br />
        Wynajmie: <input id="Rent" disabled type="number" class="form-control" /><br />
        Poszukuje: <input id="LookingFor" disabled type="number" class="form-control" /><br />
        Zamieni: <input id="Exchange" disabled type="number" class="form-control" /><br />
        Numer Id zamiany: <input id="ExchangeAdId" disabled type="text" class="form-control" /><br />
        Data utworzenia ogłoszenia: <input id="CreateDate" disabled type="date" class="form-control" /><br />
        Typ zabudowy: <select id="PropertyType" class="form-control">
            <option value="House">Dom jednorodzinny</option>
            <option value="Apartment">Mieszkanie w bloku</option>
            <option value="Building">Mieszkanie w kamienicy</option>
            <option value="Other">Inny typ zabudowy</option>
        </select><br />
        Piętro: <input id="Floor" type="number" class="form-control" /><br />
        Liczba pokoi: <input id="Rooms" type="number" class="form-control" /><br />
        Miasto: <input id="City" type="text" class="form-control" /><br />
        Kraj: <input id="Country" type="text" class="form-control" /><br />
        Kod pocztowy: <input id="Postcode" type="text" class="form-control" /><br />
        Województwo: <input id="Province" type="text" class="form-control" /><br />
        Ulica: <input id="Street" type="text" class="form-control" /><br /><br />
        <a onclick="EditAdvertisementButton()" class="btn btn-danger">Aktualizuj</a>
    </form>

    <script>
        var inputId = document.getElementById("Id");
        var inputLogin = document.getElementById("UserName");
        var inputTitle = document.getElementById("Title");
        var inputDescription = document.getElementById("Description");
        var inputStartDate = document.getElementById("StartDate");
        var inputEndDate = document.getElementById("EndDate");
        var inputPrice = document.getElementById("Price");
        var inputRent = document.getElementById("Rent");
        var inputLookingFor = document.getElementById("LookingFor");
        var inputExchange = document.getElementById("Exchange");
        var inputExchangeAdId = document.getElementById("ExchangeAdId");
        var inputCreateDate = document.getElementById("CreateDate");
        var inputPropertyType = document.getElementById("PropertyType");
        var inputFloor = document.getElementById("Floor");
        var inputRooms = document.getElementById("Rooms");
        var inputCity = document.getElementById("City");
        var inputCountry = document.getElementById("Country");
        var inputPostcode = document.getElementById("Postcode");
        var inputProvince = document.getElementById("Province");
        var inputStreet = document.getElementById("Street");
        window.onload = function LoadDataUser() {
            inputId.value = @Html.Raw(Json.Serialize(TempData["Id"]));
            inputLogin.value = @Html.Raw(Json.Serialize(TempData["UserName"]));
            inputTitle.value = @Html.Raw(Json.Serialize(TempData["Title"]));
            inputDescription.value = @Html.Raw(Json.Serialize(TempData["Description"]));
            inputStartDate.value = @Html.Raw(Json.Serialize(TempData["StartDate"]));
            inputEndDate.value = @Html.Raw(Json.Serialize(TempData["EndDate"]));
            inputPrice.value = @Html.Raw(Json.Serialize(TempData["Price"]));
            inputRent.value = @Html.Raw(Json.Serialize(TempData["Rent"]));
            inputLookingFor.value = @Html.Raw(Json.Serialize(TempData["LookingFor"]));
            inputExchange.value = @Html.Raw(Json.Serialize(TempData["Exchange"]));
            inputExchangeAdId.value = @Html.Raw(Json.Serialize(TempData["ExchangeAdId"]));
            inputCreateDate.value = @Html.Raw(Json.Serialize(TempData["CreateDate"]));
            inputPropertyType.value = @Html.Raw(Json.Serialize(TempData["PropertyType"]));
            inputFloor.value = @Html.Raw(Json.Serialize(TempData["Floor"]));
            inputRooms.value = @Html.Raw(Json.Serialize(TempData["Rooms"]));
            inputCity.value = @Html.Raw(Json.Serialize(TempData["City"]));
            inputCountry.value = @Html.Raw(Json.Serialize(TempData["Country"]));
            inputPostcode.value = @Html.Raw(Json.Serialize(TempData["Postcode"]));
            inputProvince.value = @Html.Raw(Json.Serialize(TempData["Province"]));
            inputStreet.value = @Html.Raw(Json.Serialize(TempData["Street"]));
         };


            function EditAdvertisementButton() {
                var Id = localStorage.getItem("storageId");
                var inputLogin = document.getElementById("UserName").value;
                var inputTitle = document.getElementById("Title").value;
                var inputDescription = document.getElementById("Description").value;
                var inputStartDate = document.getElementById("StartDate").value;
                var inputEndDate = document.getElementById("EndDate").value;
                var inputPrice = document.getElementById("Price").value;
                var inputRent = document.getElementById("Rent").value;
                var inputLookingFor = document.getElementById("LookingFor").value;
                var inputExchange = document.getElementById("Exchange").value;
                var inputExchangeAdId = document.getElementById("ExchangeAdId").value;
                var inputCreateDate = document.getElementById("CreateDate").value;
                var inputPropertyType = document.getElementById("PropertyType").value;
                var inputFloor = document.getElementById("Floor").value;
                var inputRooms = document.getElementById("Rooms").value;
                var inputCity = document.getElementById("City").value;
                var inputCountry =document.getElementById("Country").value;
                var inputPostcode = document.getElementById("Postcode").value;
                var inputProvince = document.getElementById("Province").value;
                var inputStreet = document.getElementById("Street").value;
            $.ajax({
            type: 'GET',
            url: '/AdminPanelAdvertisement/EditAdvertisementButton',
                data: { Id: Id, inputLogin: inputLogin, inputTitle: inputTitle, inputDescription: inputDescription, inputStartDate: inputStartDate, inputEndDate: inputEndDate, inputPrice: inputPrice, inputRent: inputRent, inputLookingFor: inputLookingFor, inputExchange: inputExchange, inputExchangeAdId: inputExchangeAdId, inputCreateDate, inputPropertyType: inputPropertyType, inputFloor: inputFloor, inputRooms: inputRooms, inputCity: inputCity, inputCountry: inputCountry, inputPostcode: inputPostcode, inputProvince: inputProvince, inputStreet: inputStreet},
            dataType: 'json',
            success: function (data) {
            alert('Wystąpił błąd');

            },
            error: function (error) {
            alert('Pomyślnie zmieniono dane odnośnie ogłoszenia');
            window.location.reload();
            }
            });
            };
    </script>