@page
@model LoginModel

@{
    ViewData["Title"] = "Zaloguj się";
}

    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"] - Noclegi</title>
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </head>
<body>
    <div class="container  text-center col-md-11 ">

        <div class="jumbotron">
            <h1>@ViewData["Title"]</h1>
            <hr />
            <div class="container">
                <div class="row shadow-lg ">
                    <hr />
                    <div class="col-md-6 separator">
                        <section>
                            <form id="account" method="post">
                                <h4>Konto lokalne</h4>
                                <hr />
                                <div asp-validation-summary="All" class="text-danger"></div>
                                <div class="form-group">
                                    <label asp-for="Input.Email"></label>
                                    <input asp-for="Input.Email" class="form-control" />
                                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Input.Password"></label>
                                    <input asp-for="Input.Password" class="form-control" />
                                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                                </div>
                                <div class="form-group ">
                                    <div class="checkbox">
                                        <label asp-for="Input.RememberMe">
                                            <input asp-for="Input.RememberMe" />
                                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <button type="submit" class="btn btn-primary btn-block ">Zaloguj</button>
                                </div>
                                <div class="form-group">
                                    <a class="btn btn-outline-danger btn-block" id="forgot-password" asp-page="./ForgotPassword">Zapomniałeś hasła?</a>
                                    <a class="btn btn-outline-info btn-block" asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Rejestracja nowego użytkownika</a>
                                    <!--
                                    <p>
                                        <button type="submit" asp-page-handler="SendVerificationEmail" class="btn-link" style="padding:0px;margin:0px;border:0px">Resend email confirmation</button>
                                    </p>
                                        -->
                                </div>
                            </form>
                        </section>
                    </div>
                    <div class="col-md-6 separator">
                        <section>
                            <h4>Zewnętrzne serwisy</h4>
                            <hr />
                            @{
                                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                                {
                                    <div>
                                        <p>
                                            Place for Facebook/Google/Microsoft authentication
                                        </p>
                                    </div>
                                }
                                else
                                {
                                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                                        <div>
                                            <p>
                                                @foreach (var provider in Model.ExternalLogins)
                                                {
                                                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Zaloguj się używając twojego konta od @provider.DisplayName ">@provider.DisplayName</button>
                                                }
                                            </p>
                                        </div>
                                    </form>
                                }
                            }
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
